{% extends 'layouts/base.html.twig' %}
{% block content %}
<div class="container py-5 text-center">
    <h1 class="display-4">403 Forbidden</h1>
    <p class="lead">You do not have permission to access this page.</p>
</div>
{% endblock %}